@model LunarLogic.Models.Contact

@{
    ViewBag.Title = "Services";
    Layout = null;
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.maskedinput.min.js"></script>

<h2 id="contactheader">Contact Us</h2>

@using (Html.BeginForm())
{
    <div class="row">
        @Html.LabelFor(model => Model.FirstName, "First Name*", new { @class = "contactLabel" })
        @Html.EditorFor(model => model.FirstName)<br />
        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "validation-msg" })
    </div>
    <div class="row">
        @Html.LabelFor(model => Model.LastName, "Last Name", new { @class = "contactLabel" })
        @Html.EditorFor(model => model.LastName)<br />
        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "validation-msg" })
    </div>
    <div class="row">
        @Html.LabelFor(model => Model.Phone, "Phone", new { @class = "contactLabel" })
        @Html.EditorFor(model => model.Phone)<br />
        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "validation-msg" })
    </div>
    <div class="row">
        @Html.LabelFor(model => Model.Email, "Email*", new { @class = "contactLabel" })
        @Html.EditorFor(model => model.Email)<br />
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "validation-msg" })
    </div>
    <div class="row">
        @Html.LabelFor(model => Model.Comment, "Comments", new { @class = "contactLabel" })
        @Html.TextAreaFor(mode => Model.Comment)<br />
        @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "validation-msg" })
    </div>
    <div class="row">
        <span id="nodeselect" class="nodeselect"></span>
    </div>
    <h3 id="interestedinheader">Services I'm interested in</h3>
    <div class="row" id="contactformlist">
        <ul><li class="selectedservice" id="noneselected">You haven't selected any services yet!</li></ul>
    </div>
    <div class="row" id="submitarea">
        <input type="button" id="send" value="Send" class="btn btn-primary" />
        <input type="reset" id="reset" value="Reset" class="btn btn-primary" />
    </div>
    <input type="button" value="Back to Personal Plan" class="btn btn-danger" id="backtoplan" />
}
<script type="text/javascript">
    $('#send').click(function () {
        var request = new ContactModel();

        $.ajax({
            url: "/Home/Contact",
            dataType: 'json',
            contentType: "application/json",
            type: "POST",
            data: JSON.stringify(request),
            success: function (response) {
                alert("Success")
            }
        });
    });

    function ContactModel() {
        var contact = this;
        contact.FirstName = $("#FirstName").val();
        contact.LastName = $("#LastName").val();
        contact.Phone = $("#Phone").val();
        contact.Email = $("#Email").val();
        contact.Comment = $("#Comment").val();
        contact.Services = $("#contactformlist").html();
    }
</script>