@model LunarLogicServices.Models.Contact

@{
    ViewBag.Title = "Services";
    Layout = null;
}

<head>
    <title>LL Services</title>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/services.js"></script>
    <link href="~/Content/Styles.css" rel="stylesheet" />
</head>



<br />
<h2>Contact Form</h2>
<hr />

<form>
    <div class="row">
        @Html.LabelFor(model => Model.FirstName, "First Name:", new { @class = "contactLabel" })
        @Html.EditorFor(model => model.FirstName)
    </div>
    <div class="row">
        @Html.LabelFor(model => Model.LastName, "Last Name:", new { @class = "contactLabel" })
        @Html.EditorFor(model => model.LastName)
    </div>
    <div class="row">
        @Html.LabelFor(model => Model.Phone, "Phone:", new { @class = "contactLabel" })
        @Html.EditorFor(model => model.Phone)
    </div>
    <div class="row">
        @Html.LabelFor(model => Model.Email, "Email:", new { @class = "contactLabel" })
        @Html.EditorFor(model => model.Email)
    </div>
    <div class="row">
        @Html.LabelFor(model => Model.Comment, "Comments:", new { @class = "contactLabel" })
        @Html.TextAreaFor(mode => Model.Comment)
    </div>
    <div class="row">
        <span class="nodeselect">Personal Plan</span>
    </div>
    <div class="row">
        <span id="nodeselect" class="nodeselect"></span>
    </div>

    <div class="row" id="submit">
        <input type="button" id="send" value="Send" class="btn btn-primary" />
        <input type="reset" id="reset" value="Reset" class="btn btn-primary" style="margin-left: 5px;" />
    </div>

</form>

<script type="text/javascript">
    $('#send').click(function () {
        var request = new ContactModel();

        $.ajax({
            url: "/Home/Contact",
            dataType: 'json',
            contentType: "application/json",
            type: "POST",
            data: JSON.stringify(request),
            success: function (response) {
                alert("Success")
            }
        });
    });

    function ContactModel() {
        var contact = this;
        contact.FirstName = $("#FirstName").val();
        contact.LastName = $("#LastName").val();
        contact.Phone = $("#Phone").val();
        contact.Email = $("#Email").val();
        contact.Comment = $("#Comment").val();
        contact.Services = $("#nodeselect").html();
    }
</script>