@model LunarLogic.Models.ServiceViewModel


<div>
    <h4 class="serviceInfo">Service Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="serviceInfo">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd id="sname" class="serviceInfo">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="serviceInfo">
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd id="sdescription" class="serviceInfo">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="serviceInfo">
            @Html.DisplayNameFor(model => model.ConnectedServices)
        </dt>

        @if(Model != null && Model.ConnectedServices != null)
        {
            foreach(string s in Model.ConnectedServices)
            {
                <dd>
                    @s
                </dd>
            }
        }
        //otherwise there is no info that was passed in here, so there needs to be an element with an id for client-side population
        else
        {
            <dd id="sconnected"> </dd>
        }

    </dl>
</div>
