@model LunarLogicServices.Models.Service

<div>
    <h4>Service Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd id="sname">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd id="sdescription">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConnectedServices)
        </dt>

        @if(Model != null && Model.ConnectedServices != null)
        {
            foreach(string s in Model.ConnectedServices)
            {
                <dd>
                    @s
                </dd>
            }
        }

    </dl>
</div>
